/bin/
/obj/
/PomodoroApp/bin
/PomodoroApp/obj
/PomodoroApp/config
*.user
*.rsuser
*.suo
.vscode/
.idea/
*.sln.iml
*.cache
*.log
*~.local.xml
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/
Thumbs.db
.DS_Store
*.tmp
*.bak
*.swp
*.dll
*.exe
*.pdb
*.mdb
*.app
publish/
*.log
.idea/
*.sln.DotSettings.user
*.xaml.cs~
*.xaml.g.cs
